<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1CBvlSts97gZVKVDNsWe9LjfK7iRzOko</string>
	<key>GCM_SENDER_ID</key>
	<string>176154665685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushNotification</string>
	<key>PROJECT_ID</key>
	<string>push-notifications-1500b</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notifications-1500b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176154665685:ios:03393a404c02f0c5d6385c</string>
</dict>
</plist>